name: Publish to Itch.io

on:
  push:
    branches: ["master", "main"]

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout source code
        uses: actions/checkout@v3

      - name: Godot Export
        id: export
        uses: firebelley/godot-export@v5.2.1
        with:
          godot_executable_download_url: https://github.com/godotengine/godot/releases/download/4.5-stable/Godot_v4.5-stable_linux.x86_64.zip
          godot_export_templates_download_url: https://github.com/godotengine/godot/releases/download/4.5-stable/Godot_v4.5-stable_export_templates.tpz
          relative_project_path: ./
          archive_output: true
          cache: true
        env:
          GITHUB_TOKEN: ${{ secrets.GH_TOKEN }}

      - name: Butler Push
        uses: yeslayla/butler-publish-itchio-action@v1.0.3
        env:
          BUTLER_CREDENTIALS: ${{ secrets.ITCHIO_TOKEN }}
          ITCH_USER: sandwish-studio
          ITCH_GAME: those-who-are-about-to-spin
          CHANNEL: html5
          VERSION: ${{ github.ref_name }}
          PACKAGE: "${{ steps.export.outputs.archive_directory }}/build.zip"
